/*catalogo*/
#contenedorJuegos {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
/*proximos*/
#contenedorProximamente {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../../imagenes/logo-final.jpg');
    margin: 0;
}
a{ /*ajusta el color del texto y su subrajado*/
    text-decoration: none;
    color:rgb(251, 251, 251) ;
}
/*barra de navegacion*/
.barra{
    margin:  auto;
    display:flex;
    height: 70;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items:center;
    /*aleja del vorde lo escrito */
    padding: 5px;
}
/*caja del logo*/
.logo{
    display: flex;
    align-items:center ;
}
/*ajuste de la imagen del logo*/
.logo img{
    height: 70px;
    /*aleja el logo del nombre de la compania*/
    margin-right: 8px;
}

.nav-link{
    color: aliceblue;
    display:flex;
    align-items: center;
}
/*hace el efecto de negrita cuando pasas sobre las letras*/
.barra-escritura{
    font-weight: 600;/*tamaño ajustar*/
    color:rgb(141, 141, 141)
}
.contenedor{
    margin: auto;
}
/*modifica la palabra "catalogo"*/
.palabra{
    margin: 40px; 
    display: flex;
    justify-content: center;
    background-color: rgb(209, 187, 91);
    padding-bottom: 10px;
}
/*.cartelera{
    margin:10px;
    height: 100px;
    
}*/
.imagenes{
        display: grid;
        /*gap: 20px;*/
        grid-template-columns: repeat(3, 1fr);
    
    
 
}
/*modifica el tamaño de la imagen y color del texto*/
.img-thumbnail{
    border:.2rem solid #5ba8d2;
    width: 690px;
    height: 350px;
}
.name{
    text-align:center ;
    color: #5b9bd2;
}
.sub_title{
    text-align:center ;
    color: #5c48a4;
    
}
/*.css{
    width: 400;
    height: auto;
}*/